@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

header {
  background-color: #d4d4d4;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.nav__item {
  font-size: 1.2rem;
  transition: color 0.4s;
}

.nav__item:hover {
  color: #0093c4;
}

.auth__btn {
  background-color: #ff7e28;
  font-size: 1.1rem;
  color: #fff;
  padding: 8px 16px;
  border-radius: 85px;
  transition: background-color 0.4s, transform 0.4s;
}

.auth__btn:hover {
  background-color: #d85700;
  transform: translateY(-3px);
}

@media (max-width: 720px) {
  header {
    padding: 0.5rem 0;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .nav__list {
    flex-direction: column;
    gap: 1rem;
  }
}
